---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Страница обо мне" description="Главная страница">
	<main>
        <a href="/">Главная</a>
		<a href="/about/">Обо мне</a>
		<h1>About Astro сайт</h1>
	</main>
</Layout>

<style>
	
</style>
