---
import { MainForm } from '../components/Form/Form';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Установка кондиционеров в Симферополе и Крыму: профессиональные услуги с гарантией качества" description="Ищете профессиональную установку кондиционеров в Симферополе и Крыму? Мы предлагаем качественные услуги по установке и обслуживанию кондиционеров с гарантией. Обратитесь к нам сегодня и наслаждайтесь комфортом в своем доме или офисе!">
	<main>
		<div class="first_block" id="first">
			<div class="info">
			<h1 class="name">Установка кондиционеров в Симферополе и Крыму</h1>
			<p>Добро пожаловать в мир уюта и прохлады! Вас приветствует наша компания, специализирующаяся на профессиональной установке кондиционеров в Симферополе и Крыму. Мы знаем, как важно обеспечить комфортную атмосферу в вашем доме или офисе в любое время года.</p>
			<p>Наша команда состоит из опытных специалистов, готовых предложить вам индивидуальные решения для вашего конкретного случая. Мы не только устанавливаем кондиционеры, но и обеспечиваем их надежную работу и долгий срок службы.</p>
			<p>Не откладывайте заботу о комфорте вашего дома на потом. Оставьте заявку прямо сейчас, и наш менеджер свяжется с вами для обсуждения всех деталей вашего проекта. Доверьтесь профессионалам и наслаждайтесь свежим воздухом в любое время года!</p>
			<a href="#application" class="application">Оставить заявку</a>
			</div>
		</div>
		<MainForm client:only="react"/>
		<!-- <Form client:load /> -->
	</main>
</Layout>

<style>

.first_block{
	width:100%;
	height:1000px;
	position:relative;
	background-image: url('/1.jpeg');
	background-repeat: no-repeat;
	background-size:cover;
}
.name{
	text-shadow:0 0 3px #1f222f, 0 0 5px #1f222f;
	color:white;
	font-size:40px;
	text-align: center;
}
.application{
	width:150px;
	height:40px;
	background-color: #f52137;
	border-radius: 5px;
	color:white;
	position:absolute;
	bottom:-10px;
	left:50%;
	transform: translateX(-50%);
	display:flex;
	justify-content: center;
	align-items: center;
}
.info{
	width:500px;
	height:500px;
	position:relative;
	left:300px;
	top:200px;
}
p{
	color:white;
	margin-top:20px;
	font-size:18px;
	text-shadow:0 0 3px #1f222f, 0 0 5px #1f222f;
}
.button_link{
    color:white;
    width:150px !important;
	height:40px !important;
}


@media screen and (max-width: 990px) {
    .info{
		left:50%;
		transform: translateX(-50%);
		height:600px;
	}
  }
@media screen and (max-width: 700px) {
    	html,body {
  height: 100%;
  width:700px;
}
  }


</style>
