---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Главная страница" description="Главная страница">
	<main>
		<div class="first_block" id="first">
			<div class="info">
			<h1 class="name">Установка кондиционеров</h1>
			<button class="application">Оставить заявку</button>
			</div>
			
		</div>
		
	</main>
</Layout>

<style>
.first_block{
	width:100%;
	height:1000px;
	position:relative;
	background-image: url('/1.jpeg');
	background-repeat: no-repeat;
	background-size:cover;
}
.name{
	color:white;
	font-size:40px;
}
.application{
	width:150px;
	height:40px;
	background-color: #f52137;
	border-radius: 5px;
	color:white;
	position:absolute;
	bottom:20px;
}
.info{
	width:500px;
	height:500px;
	position:relative;
	left:300px;
}
</style>
