---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
---

<footer>
	<h1>Footer</h1>
</footer>
<style>
	footer{
		width:100%;
		height:100px;
		 background-color: #1f222f;
	}
</style>
